<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seedeal03">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- ============================================================= -->     
    <!-- ADD FOR QR-CODE 26.04.2020 -->
    <!-- ============================================================= -->        
    <uses-permission android:name="android.permission.CAMERA" /> 
    <!-- *******************************************************************************  -->
    <!-- ADD FOR 7 JULY 2020, Multi_image_picker” flutter  -->
    <!-- *******************************************************************************  -->    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />        
</manifest>
